.div-main {
    margin: 5px;
    padding: 2px;
    border: 4px solid black;
    background-color: gray;
}

.div-post-img{
    margin: 5px;
    padding: 2px;
    border: 2px solid black;
    background-color: lightblue;
}

.div-title {
    margin: 0px 5px;
    font-size: 26px;
    padding: 2px;
}

.div-body {
    font-size: 20px;
    padding: 3px;
}
.div-img{
    margin: 2px 7px;
}
.div-img>img{
    width: 50%;
    border: 1px solid black;
}